<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ShelveIt - Storages List</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div th:replace="fragments :: header"></div>

<div class="container">
    <h1>Storages - List</h1>

    <div th:replace="fragments :: navigation-blocks"></div>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Type</th>
            <th>Parent</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="storage : ${storages}">
            <td>
                <!-- Storage ID as a clickable link -->
                <a th:href="@{/storages/{id}(id=${storage.id})}"
                   th:text="${storage.id}"></a>
            </td>
            <td th:text="${storage.name}"></td>
            <td th:text="${storage.type}"></td>
            <td>
                <!-- Parent ID as a clickable link -->
                <a th:if="${storage.parentId != null}"
                   th:href="@{/storages/{id}(id=${storage.parentId})}"
                   th:text="${storage.parentId}"></a>
                <span th:if="${storage.parentId == null}">No Parent</span>
            </td>
            <td>
                <th:block th:replace="fragments :: table-actions-simple(@{/storages/{id}/update(id=${storage.id})}, @{/storages/{id}/delete(id=${storage.id})})">
                </th:block>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>