<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Items</title>
</head>
<body>
<h1>Items</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Storage</th>
        <th>Keywords</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${items}">
        <td th:text="${item.id}"></td>
        <td th:text="${item.name}"></td>
        <td th:text="${item.storage.name}"></td>
        <td th:text="${item.keywords}"></td>
        <td>
            <a th:href="@{/items/{id}(id=${item.id})}">View Details</a>
            <a th:href="@{/items/{id}/delete(id=${item.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>